<div>
  <h1><%= @post.subject %></h1>
  <p><%= @post.content %></p>
  <%= link_to 'Delete Post', post_path(@post), method: :delete %>
</div>
<div class="post-tags">
	<h4>Post Tags:</h4>
	<% @post.tags.each do |tag| %>
		<span><%= link_to tag.name, tag_path(tag) %></span>
	<% end %>
	<div class="tag-form">
		<%= render partial: 'tags/new' %>
	</div>
</div>
<hr />
<div>
	<h4>Comments:</h4>
  <div>
  	<%= render partial: 'comments/form' %>
	</div>
	<ul>
    <% @post.comments.each do |comment| %>
      <li id="comment-<%= comment.id %>", class='get-edit-comment'>
        <%= render '/posts/comment_template', comment: comment %></br>
        <%= link_to 'edit', edit_post_comment_path(@post, comment), remote: true %> 
      </li>
    <% end %>
  </ul>
</div>
