<div>
  <h4><%= @post.subject %></h4>
  <p><%= @post.content %></p>
  <%= link_to 'Delete Post', post_path(@post), method: :delete %>
</div>

<div>
  <%= render partial: 'comments/form' %>
</div>

<div>
  <ul>
    <% @post.comments.each do |comment| %>
      <li id="comment-<%= comment.id %>", class='get-edit-comment'>
        <%= render '/posts/comment_template', comment: comment %></br>
        <%= link_to 'edit', edit_post_comment_path(@post, comment), remote: true %> 
      </li>
    <% end %>
  </ul>
</div>
