<div>
  <h1><%= @post.subject %></h1>
  <p><%= @post.content %></p>
  <%= link_to 'Delete Post', post_path(@post), method: :delete %>
</div>

<div>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
</div>

<div>
  <ul>
    <% @posts_comments.each do |comment| %>
      <li><%= render '/posts/comment_template', comment: comment %></li>
    <% end %>
  </ul>
</div>
