<!DOCTYPE html>
<html>
<head profile="http://www.inkreactor.com">
  <title>Inkreactor</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "layout", media: "all", "data-turbolinks-track" => true %>
  // REVIEW: require this file in application.js and move it from here.
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Gilda+Display|Bad+Script|Trykker|Poly|Actor' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div id='container' class='row'>
  <nav id='left_column_nav' class="small-2 columns">
    <ul class="side-nav">
    // REVIEW: move this to a partial
      <li><%if !current_user%><%=link_to "Sign In", user_session_path %><%end%></li>
      <li><%if !current_user%><%=link_to "Sign Up", new_user_registration_path%><%end%></li>
      <li><%if current_user%><%=link_to "Sign Out", destroy_user_session_path, :method =>:delete %><%end%></li>


      <li class="nav_bar_divider"></li>
      // REVIEW: move this to a partial
      <li><a data-dropdown="drop1">Post</a>
          <ul id="drop1" class="f-dropdown" data-dropdown-content>
            <li><a href="#"></a></li>
            <li><%=link_to "View Post", posts_path%></li>
            <li><%=link_to "Create Post", new_post_path%></li>
          </ul>
      </li>
    </ul>

    <footer>
      <div id="social-icons">
        <a href="https://facebook.com"><%= image_tag 'facebook.png', size: '24x24' %></a>
        <a href="https://twitter.com"><%= image_tag 'twitter.png', size: '24x24' %></a>
        <a href="https://github.com"><%= image_tag 'github.png', size: '24x24' %></a>
      </div>
        <p>Created by:</p>
        <a href="mailto:seth@sethhochberg.com">Seth, </a>
        <a href="mailto:stharlow@gmail.com">Steve, </a>
        <a href="mailto:dewrgleision@gmail.com">Dan, </a>
        <a href="mailto:mehagel65@gmai.com">Mark</a>
    </footer>
  </nav>
  <div id='content' class='small-10 columns'>
    <% flash.each do |key,msg| %>
  		<div class="message" id="<%= key %>">
    		<div class="message-inner">
      	<%= content_tag :p, msg %>
    		</div>
  		</div>
		<% end %>


		<%= yield %>
  </div>
</div>

<div class="reveal-modal"></div>
</body>
</html>
