<!DOCTYPE html>
<html>
<head>
  <title>Inkreactor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='top-bar home-border hide-for-small'>
    <ul>
      <% if current_user %>
        <li><%= link_to current_user.username, current_user %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

<% flash.each do |key,msg| %>
  <div class="message" id="<%= key %>">
    <div class="message-inner">
      <%= content_tag :div, msg %>
    </div>
  </div>
<% end %>

<%= yield %>
<div class="reveal-modal-bg" style="display: none"></div>
</body>
</html>
