<!DOCTYPE html>
<html>
<head profile="http://www.inkreactor.com">
  <title>Inkreactor</title>
 
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "layout", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Gilda+Display|Bad+Script|Trykker|Poly|Actor' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

<% flash.each do |key,msg| %>
  <div class="message" id="<%= key %>">
    <div class="message-inner">
      <%= content_tag :div, msg %>
    </div>
  </div>
<% end %>

<div id='container' class='row'>
  <nav id='left_column_nav' class="small-2 columns">
    <ul class="side-nav">
      <li ><a href="#">Sign In</a></li>
      <li><a href="#">Sign Up</a></li>
      <li class="nav_bar_divider"></li>
      <li><a href="#" data-dropdown="drop1">Post</a>
          <ul id="drop1" class="f-dropdown" data-dropdown-content>
            <li><a href="#"></a></li>
            <li><a href="#">View Post</a></li>
            <li><a href="#">Create Post</a></li>
          </ul>
        </li>
    </ul>  
    <div id="social-icons">
      <a href="https://facebook.com"><img src="facebook.png" width="24" height="24" alt="Facebook" /></a>
      <a href="https://twitter.com"><img src="twitter.png" width="24" height="24" alt="Twitter" /></a>
      <a href="https://github.com"><img src="github.png" width="24" height="24" alt="Github" /></a>
    </div>   
  </nav>
  <div id='content' class='small-10 columns'>
    <%= yield %>
  </div>
</div>

<div class="reveal-modal-bg" style="display: none"></div>
</body>
</html>
